In [40]:
# Importing libraries and reading wiki_edit.txt file  
import pandas as p
import mysql.connector
from mysql.connector import errorcode

data = p.read_csv('bestbuy.csv',sep=',',header=0,)
data[:5]
data = data.applymap(str)

In [41]:
# Credentials
uname = "jainadi5"
pwd = "A81237526" # Replaced by X after executing code 
hname = "mysql-user-cse.egr.msu.edu"

In [42]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS best_buy"
    cursor.execute(query)

    query = """CREATE TABLE IF NOT EXISTS best_buy (user varchar(200), sku int, 
                                category varchar(100), query varchar(100),click_time varchar(100), query_time varchar(100))
            """
    cursor.execute(query)
    cursor.close()
    cnx.commit()
    cnx.close()
    
except:
    print(mysql.connector.Error)

# Varchar(100) changed to varchar (200) for ArticleName due to presence of large size of article name in the database

In [43]:
def byUnicode(char):
    if ord(char) < 48 or ord(char) > 127: return ''
    else: return char

In [44]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    for index, row in data.iterrows():
        user = row['user']
        sku = row['sku']
        category = row['category']
        que = row['query']
        click_time = row['click_time']
        query_time = row['query_time']
        query = "INSERT INTO best_buy VALUES ('" + user + "','" + sku + "','" + category + "','" + que + "','" + click_time + "','"+ query_time + "')"
        cursor.execute(query)
    
    cnx.commit()
    cnx.close()

except:
    print(mysql.connector.Error)

In [52]:
# Total Number of Rows
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "SELECT count(*) as Total_Records FROM best_buy"
    cursor.execute(query)
    
    for (total ) in cursor:
        print (total)  
    
    cnx.close()
    cnx.close()
    
except:
    print(mysql.connector.Error)

(15210,)

In [58]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "SELECT sku, category,query, count(*) FROM best_buy GROUP BY sku ORDER BY count(*) DESC LIMIT 5"
    cursor.execute(query)
    
    for (sku,cat,que,count ) in cursor:
        print (sku,cat,que,count)  
    
    cnx.close()
    cnx.close()
    
except:
    print(mysql.connector.Error)

2842056 pcmcat209000050008 hp touch pad 1227
2842092 pcmcat209000050008 hp pad 673
1945531 pcmcat209000050007 iPad 654
9755322 pcmcat247400050001 Netbook 634
9225377 abcat0201011 iPod 557